<div class="marginT40">
    <span>Search contact by Mobile No:</span>
    <!-- <input type="text" id="search" value=""/> -->
    <!-- <div class="ng-autocomplete">
      <ng-autocomplete [data]="contactList" [searchKeyword]="keyword"
        (selected)='selectByMobile($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
        placeHolder="Search By Mobile" historyIdentifier="contactList">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div> -->
</div>
<div class="marginT40 padL10 tab cursorPtr" id="contactsSummary">Contacts Summary</div>
<div id="contactSummary" class="contactSummary">
  <table id="summaryTable">
    <thead>
      <tr>
        <th id="nameColumn">Name</th>
        <th>Mobile</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let contact of contactList; let ind = index">
      <tr [ngStyle]="{backgroundColor: getColor(ind)}">
        <td>{{contact.name}}</td>
        <td>{{contact.mobile}}</td>
        <td>{{contact.email}}</td>
      </tr>
    </tbody>
  </table>
  <div id="noResult" class="noResult dn">No Results Found</div>
</div>